body {
  background: #CAECFF;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
}

div.page {
  background: white;
  border: 1px solid #6ECCFF;
  width: 710px;
  margin: 30px auto;
}

div.page h1 {
  background: #6ECCFF;
  margin: 0;
  padding: 10px 14px;
  color: black;
  letter-spacing: 1px;
  text-shadow: 0 0 3px #2477FF;
  font-weight: normal;
}

#map{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100vh;
  width: 80vw;
}


#myDropdown {
  position: absolute;
  top: 50px;
  left: 2vw;
  max-width: 15vw;
  min-width: 10vw;
}

#submitBtn{
  position: absolute;
  background-color: #6392f1;
  border: none;
  color: white;
  cursor: pointer;
  width: 50px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  z-index: 4;
  left: 15vw;
  top: 10vh;
}

#roadInfo{
  position: absolute;
  bottom: 10vw;
}

label{
  font-family: Verdana, Geneva, sans-serif;
}

input{
  position: absolute;
  left: 50px;
}


